<form class="create-post-form">
  <div>
    <h2 class="">Create New Post</h2>
  </div>

  <div>
    <p>Title</p>
  </div>
  <div>
    <input type="text" id="post-title" name="post-title" />
  </div>

  <div>
    <p>Content</p>
  </div>
  <div>
    <input id="post-content" name="post-content" />
  </div>

  <div>
    <button type="submit">Create</button>
  </div>
</form>

<script src="/javascript/create-post.js"></script>