<form class="edit-post-form">
  <div>
    <h2 class="">Edit Post</h2>
  </div>

  <div>
    <p>Title</p>
  </div>
  <div>
    <input type="text" id="post-title" name="{{post.title}}" />
  </div>

  <div>
    <p>Content</p>
  </div>
  <div>
    <input type="text" id="post-content" name="{{post-content}}" />
  </div>

  <div>
    <button type="submit">Update Post</button>
    <button type="button" class="delete-post-btn">Delete</button>
  </div>
</form>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>