{{> post-info post }}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <h2 class=""></h2>
  </div>

  <div>
    <p>Comment</p>
  </div>

  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="text">
      {{comment_text}}
    </div>
    <div class="meta">
      -{{user.username}}, {{created_at}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}