{{> post-info post }}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <h2 class=""></h2>
  </div>

  <div>
    <p>Comment</p>
  </div>

  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}