:root {
    --primary-color: #9932CD;
    --secondary-color: #2E0854;
    --tertiary-color: #E5CCFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 110px;
}

.page-title {
    margin: 10px 30px;
}

.page-title a {
    font-weight: bold;
}

.post {
    width: 900px;
    margin: 30px 0;
    border-style: solid;
    border-width: 4px;
}

.post-title {
    font-size: 24px;
    margin: 0 11px;
}

.post-meta {
    font-size: 16px;
    margin: 0 11px;
}

.post-content {
    padding: 10px 20px;
    font-size: 18px;
    margin-bottom: 0;
}