:root {
    --primary-color: #9932CD;
    --secondary-color: #2E0854;
    --tertiary-color: #E5CCFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 110px;
}

.page-title {
    margin: 10px 30px;
}

.page-title a {
    font-weight: bold;
}